body {
    background: rgb(108, 108, 156) url("/img/cainbackground.webp") no-repeat;
}

h1 {
    border: 2px solid rgb(12, 12, 12);
    margin-bottom: 10px;
    background-color: rgb(7, 168, 231);
    box-shadow: 4px 8px 10px rgb(12, 12, 12);
    font: italic border 16px/125% times, serif;
    text-shadow: 2px 2px rgb(255, 255, 255);
    color: rgb(138, 43, 226);
}

.navbar {
    background-color: rgb(138, 43, 226);
    padding: 5px;
    box-shadow: 4px 8px 10px rgb(12, 12, 12);
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

ul {
    list-style-type: none;
    float: right;
}

ul li {
    display: inline-block;
    padding-right: 14px;
    background-color: rgb(192, 192, 192);
    padding: 10px;
    /* border-radius: 50%; */
}

ul li a {
    /* text-decoration: none; */
    color: rgb(0, 0, 0);
}

ul li:hover {
    background-color: rgb(255, 69, 0);
    color: rgb(19, 94, 19);
}


section {
    background: transparent url("") no-repeat center;
    border: 2px solid rgb(12, 12, 12);
    height: 400px;
    width: 60%;
    float: left;
    clear: none;
    margin-bottom: 10px;
}

article {
    background: transparent url("") no-repeat center;
    border: 2px solid rgb(12, 12, 12);
    height: 400px;
    width: 60%;
    float: none;
    clear: left;
    margin-bottom: 10px;
}

aside {
    background: transparent url("") no-repeat center;
    border: 2px solid rgb(12, 12, 12);
    height: 821px;
    width: 39%;
    float: right;
    clear: none;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}

footer {
    border: 2px solid rgb(12, 12, 12);
    float: both;
    clear: both;
    margin-bottom: 10px;
}